doctype html
html(lang="en")
    include ../layout/head.pug
    body
        .d-flex.m-2
            form.form-create(action="#", method="post")
                .my-2 
                    label.form-label(for="name") enter name:
                    input.form-control(type="text" id="name" name="name")
                .my-2
                    label.form-label(for="password") enter password:
                    input.form-control(type="password" id="password" name="password")
                .my-2
                    label.form-label(for="role") select role:
                    select.form-select(type="role" id="role" name="role")
                .my-2
                    label.form-label(for="gender") select role:
                    select.form-select(type="gender" id="gender" name="gender")
                .my-2
                    label.form-label(for="permission") select permission:
                    select.form-select(type="permission" id="permission" name="permission")
                .d-flex.my-2
                    button#btnCreateUser.btn.btn-primary.w-auto.mx-auto(type="button") create new User
        
        include ../layout/foot.pug

        script(type='module').
            import { init } from './admin.mjs';
            init();
            