doctype html
html(lang="en")
    include layout/head.pug
    body
        <div id="dicomImage" style="width:512px;height:512px;" oncontextmenu="return false" onmousedown="return false"></div>
        <input type="file" id="selectFile" />
        include layout/foot.pug
        script(type='module').
            import { init } from '/dist/app.js';
            init();
        script(src='/dist/cornerstoneDICOMImageLoader.min.js')